.catalog {
  padding-bottom: 25px;

  @media (max-width: $breakpoint-small-catalog) {
    &.container {
      padding: 0;
      width: 100%;
    }
  }
}

.catalog__list {
  @include clear-list;

  @media (min-width: $breakpoint-medium) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.catalog__item {
  width: 320px;
  margin: 0 auto;
  padding: 19px 20px 0 20px;
  border-bottom: 1px solid $color-special-gray2;

  @media (min-width: $breakpoint-medium) {
    margin: 0 0 59px 0;
    padding: 81px 0 0 0;
    border-bottom: none;
    flex-basis: 20%;
  }
}
