.contacts {
  background-color: $color-light-gray;

  @media (min-width: $breakpoint-large) {
    background-color: $color-white;
  }
}

.contacts__text {
  @include font(16px, 18px);
  text-transform: uppercase;
  font-weight: 400;

  @media (min-width: $breakpoint-medium) {
    @include font(20px, 22px);
  }

  span {
    position: relative;
    top: 4px;
  }
}

.contacts__address {
  @include font(14px, 20px);
  font-family: $font-arial;
  color: $color-dark-gray;
  display: block;
  flex-basis: 50%;
  font-style: normal;

  p {
    margin: 0;

    @media (min-width: $breakpoint-medium) {
      &:first-child {
        margin-bottom: 18px;
      }
    }
  }

  @media (min-width: $breakpoint-medium) {
    @include font(16px, 20px);
    text-align: right;
    flex-basis: 31%;
  }

  @media (min-width: $breakpoint-large) {
    flex-basis: 50%;
    text-align: left;
    padding-left: 47px;
  }
}

.contacts__information {
  display: flex;
  justify-content: space-between;
  padding: 28px 0 22px 0;

  @media (min-width: $breakpoint-large) {
    position: absolute;
    width: 570px;
    background-color: $color-white;
    top: 95px;
    z-index: 2;
    padding: 63px 89px 56px 76px;
    left: 110px;
  }
}

.contacts__map {
  line-height: 0;
}

.contacts__map-iframe {
  width: 100%;
  border: none;

  @media (min-width: $breakpoint-medium) {
    height: 400px;
  }
}

.contacts__container {
  @media (min-width: $breakpoint-medium) {
    position: relative;
    padding: 40px 70px 35px 70px;
  }

  @media (min-width: $breakpoint-large) {
    position: absolute;
    padding: 0;
  }
}
