.copyright {
  display: flex;
  align-items: center;

  &:hover path {
    fill: $color-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  @include font(16px, 18px);
  font-family: $font-arial;
}
