.example {
  background-color: $color-gray;
}

.example__list {
  @include clear-list;
  display: flex;
  justify-content: space-between;
}

.example__cost {
  @include font(14px, 20px);
  text-align: center;
  text-transform: uppercase;
}

.example__description {
  font-family: $font-arial;
  color: $color-dark-gray;
  width: 100%;
  margin-bottom: 25px;
}

.example__title {
  margin: 0;
  padding: 27px 85px 33px 0;
}
