.gift {
  height: 289px;
  background-image: url("../img/gift-photo-mobile.jpg");
  background-repeat: no-repeat;
  margin-bottom: 21px;
  background-position: center;
}

.gift__text {
  @include font(16px, 20px);
  width: 161px;
  text-align: center;
  margin: 0 auto;
  color: $color-white;
}
