.good-info {
  font-family: $font-arial;

  td {
    @media (min-width: $breakpoint-medium) {
      @include font(16px, 16px);
      padding: 5px 2px 8px 2px;
      border-bottom: 1px solid $color-very-light-gray;
    }

    @media (min-width: $breakpoint-large) {
      padding: 7px 4px 8px 8px;
    }
  }
}

.good-info__property {
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
}

.good-info__value {
  padding-bottom: 0;
  padding-top: 0;
  text-align: right;
}
