.input-item {
  display: flex;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.input-item__text {
  flex-shrink: 0;
  margin-right: 14px;
}

.input-item__input {
  padding-left: 14px;
  width: 100%;
}
