.input-item {
  @include font(16px, 18px);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: $color-dark-gray;
  position: relative;
  width: 100%;
  margin-bottom: 12px;

  @media (min-width: $breakpoint-large) {
    margin-bottom: 20px;
    flex-basis: 569px;
  }

  &--email svg {
    position: absolute;
    right: 15px;
    width: 20px;
    height: 14px;
  }

  &--phone svg {
    position: absolute;
    right: 13px;
    width: 20px;
    height: 20px;
  }
}

.input-item__text {
  flex-shrink: 0;
  margin-right: 14px;

  @media (min-width: $breakpoint-medium) {
    @include font(20px, 30px);
  }
}

.input-item__input {
  @include font(16px, 18px);
  width: 100%;
  text-transform: uppercase;
  font-family: inherit;
  padding: 13px 0 14px 14px;
  border: 1px solid $color-platinum;

  &:hover {
    border: 1px solid $color-very-light-gray;
  }

  &:focus {
    border: 1px solid $color-dark-gray;
    outline: 1px solid $color-dark-gray;
  }

  &:disabled {
    +svg path {
      stroke: $color-green;
    }

    +svg g {
      fill: $color-green;
    }
  }

  @media (min-width: $breakpoint-medium) {
    @include font(20px, 30px);
  }
}
