.order__catdata {
  @include fieldset-border;
  margin: 0;
  padding: 0;
}

.order__goal {
  @include fieldset-border;
  @include font(16px, 18px);
  padding-top: 22px;
  color: $color-dark-gray2;

  &:last-child {
    margin-bottom: 19px;
  }
}

.order__choice {
  display: flex;
  margin-bottom: 13px;
}

.order__owner-title {
  padding: 26px 0 35px 0;
}

.order__owner {
  border: none;
  margin: 0;
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.order__comment {
  border: none;
  margin: 0;
  padding: 0;
}

.order__comment-title {
  margin: 0;
  padding: 23px 0 37px 0;
}

.order__more {
  border: none;
}

.order__more-title {
  padding: 22px 0 34px 0;
}

.order__required {
  padding: 21px 61px 32px 61px;
}
