.order__catdata {
  border: none;
  margin: 0 0 24px 0;
  padding: 0;

  @media (min-width: $breakpoint-medium) {
    margin: 0;

    .container {
      padding-left: 70px;
      padding-right: 65px;
    }
  }

  @media (min-width: $breakpoint-large) {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  label:last-child {
    margin-bottom: 0;
  }
}

.order__goal {
  @include font(16px, 18px);
  margin: 0;
  padding: 22px 0 0 0;
  color: $color-dark-gray2;
  border: none;

  border-bottom: 1px solid $color-special-gray;
  border-top: 1px solid $color-special-gray;

  @media (min-width: $breakpoint-medium) {
    padding-bottom: 25px;
    padding-top: 25px;
    border: none;

    .container {
      padding-left: 70px;
      padding-right: 65px;
    }
  }

  @media (min-width: $breakpoint-large) {
    border: 1px solid $color-platinum;
  }
}

.order__choice {
  display: flex;
  margin-bottom: 13px;
}

.order__owner-title {
  padding: 26px 0 35px 0;
  width: 100%;

  @media (min-width: $breakpoint-medium) {
    padding-top: 70px;
  }
}

.order__owner {
  border: none;
  margin: 0;
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $breakpoint-medium) {
    .container {
      padding-left: 70px;
      padding-right: 65px;
    }
  }

  @media (min-width: $breakpoint-large) {
    .container {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

.order__owner-wrapper {
  @media (min-width: $breakpoint-large) {
    display: flex;
    justify-content: space-between;
  }
}

.order__comment {
  border: none;
  margin: 0;
  padding: 0;

  @media (min-width: $breakpoint-medium) {
    .container {
      padding-left: 70px;
      padding-right: 65px;
    }
  }

  @media (min-width: $breakpoint-large) {
    .container {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

.order__comment-title {
  margin: 0;
  padding: 23px 0 37px 0;
  width: 100%;
}

.order__more {
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: $breakpoint-medium) {
    .container {
      padding-left: 70px;
      padding-right: 65px;
    }
  }

  @media (min-width: $breakpoint-large) {
    .container {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

.order__more-title {
  padding: 22px 0 34px 0;
  width: 100%;
}

.order__more-wrapper {
  @media (min-width: $breakpoint-medium) {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 123px;
    grid-row-gap: 28px;
  }

  @media (min-width: $breakpoint-large) {
    display: flex;
  }
}

.order__required {
  text-align: center;
  margin: 0;
  padding: 21px 5px 32px 0;
}

.order__goal-container {
  @media (min-width: $breakpoint-medium) {
    border: 1px solid $color-platinum;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 27px;
    padding-right: 20px;
  }

  @media (min-width: $breakpoint-large) {
    border: none;
    padding-top: 0;
  }
}

.order__button-wrapper {
  @media (min-width: $breakpoint-medium) {
    display: flex;
    align-items: center;
    padding-left: 70px;
    padding-right: 65px;
  }

  @media (min-width: $breakpoint-large) {
    padding-left: 30px;
    padding-right: 30px;
  }
}


.order__button {
  @media (min-width: $breakpoint-medium) {
    width: 282px;
    margin-right: 45px;
  }

  @media (min-width: $breakpoint-large) {
    width: 570px;
  }
}
