.page-footer {
  background-color: $color-light-gray;
}

.page-footer__logo {
  padding-top: 39px;
  padding-bottom: 32px;
  border-bottom: 1px solid $color-special-gray;
  display: block;

  @media (min-width: $breakpoint-medium) {
    padding: 0;
  }
}

.page-footer__logo img {
  display: block;
  margin: 0 auto;

  @media (min-width: $breakpoint-medium) {
    padding: 0;
  }
}

.page-footer__social-list {
  @include clear-list;
  display: flex;
  width: 46%;
  justify-content: space-between;
  margin: 0 auto;
  height: 22px;
  border: 1px solid tomato;

  @media (min-width: $breakpoint-medium) {
    margin: 0;
    padding: 0;
    width: 129px;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  padding: 22px 0;
  color: $color-dark-gray;
  text-decoration: none;

  @media (min-width: $breakpoint-medium) {
    padding: 0;
    width: 163px;
    align-items: center;
  }
}

.page-footer__container {
  @media (min-width: $breakpoint-medium) {
    display: flex;
    justify-content: space-between;

    padding-top: 55px;
    padding-bottom: 55px;
    align-items: center;
  }
}

.page-footer__social-wrapper {
  border-bottom: 1px solid $color-special-gray;
}
