.page-main__title {
  @include font(36px, 36px);
  padding: 27px 0 0 0;
  margin: 0 0 37px 0;
  font-weight: 400;

  @media (min-width: $breakpoint-medium) {
    @include font(60px, 60px);
    padding-top: 56px;
    margin-bottom: 55px;
    padding-left: 40px;
    padding-right: 35px;
  }

  @media (min-width: $breakpoint-large) {
    padding-left: 0;
    padding-top: 68px;
  }
}

.page-main__catalog-title {
  @media (min-width: $breakpoint-medium) {
    padding-left: 0;
    margin-bottom: 83px;
  }
}

.page-main__text {
  padding: 0;
  margin-bottom: 39px;
  text-transform: uppercase;

  @media (min-width: $breakpoint-medium) {
    @include font(20px, 30px);
    margin-top: 0;
    margin-bottom: 65px;
    padding-left: 40px;
    padding-right: 35px;
  }

  @media (min-width: $breakpoint-large) {
    padding-left: 0;
  }
}

.page-main__wrapper {
  @media (min-width: $breakpoint-large) {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 20px;

    .container {
      width: 570px;
      padding-right: 0;
    }
  }
}

.page-main__form-wrapper {
  @media (min-width: $breakpoint-medium) {
    padding-left: 40px;
    padding-right: 35px;
  }

  @media (min-width: $breakpoint-large) {
    padding-left: 0;
    padding-right: 0;
  }
}

.page-main__order {
  @media (min-width: $breakpoint-large) {
    margin-bottom: 80px;
  }
}
