.page-header {
  @media (min-width: $breakpoint-large) {
    position: absolute;
    width: 100%;
    z-index: 3;

    &--position {
      position: inherit;
    }
  }
}

.page-header__mobile-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 13px;

  &::before {
    content: "";
    display: block;
    width: 33.32px;
    height: 37.61px;
    background-image: url("../img/icon-logo-mobile.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $breakpoint-medium) {
    display: none;
  }
}

.page-header__toggle {
  width: 50px;
  height: 40px;
  visibility: hidden;
}

.page-header__logo {
  img {
    margin-left: 15px;
  }
}
