.page {
  @include font(14px, 18px);
  height: 100%;
  font-family: $font-oswald;

  @media (min-width: $breakpoint-medium) {
    @include font(20px, 30px);
  }
}

.page__body {
  min-height: 100%;
  margin: 0;
  color: $color-black;
}
