.promo {
  background: linear-gradient(to bottom, rgba($color-green, 0.85%) 302px, $color-white 37%),
    url("../img/cat-promo-background.jpg");
  background-repeat: no-repeat;
  background-position: center, top center;
  background-size: 100%, contain;
  color: $color-white;
  margin-bottom: 22px;

  @media (min-width: $breakpoint-small) {
    background-size: 100%, cover;
  }

  @media (min-width: $breakpoint-medium) {
    margin-bottom: 0;
    background: none;
    padding-bottom: 525px;
    padding-top: 55px;
    position: relative;
  }

  @media (min-width: $breakpoint-large) {
    padding-bottom: 187px;
    padding-top: 225px;
    background: url("../img/bg-cat-promo.jpg"),
      linear-gradient(to left, rgba($color-green-special, 0.85%) 50%, $color-white 50%);
    background-position: center right, center;
    background-repeat: no-repeat;
    background-size: 50% auto, 100% auto;
    margin-bottom: 82px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-cat-promo2x.jpg"),
        linear-gradient(to left, rgba($color-green-special, 0.85%) 50%, $color-white 50%);
    }
  }
}

.promo__img {
  display: block;
  margin: 0 auto;

  @media (min-width: $breakpoint-medium) {
    position: absolute;
    bottom: 0;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $breakpoint-large) {
    position: absolute;
    z-index: 1;
    left: 58%;
  }
}

.promo__title {
  @include font(36px, 36px);
  font-family: $font-oswald;
  font-weight: 400;
  margin: 0 0 25px 0;
  text-align: center;
  padding: 27px 15px 0 16px;

  @media (min-width: $breakpoint-medium) {
    @include font(60px, 60px);
    color: $color-black;
    padding: 0 10px 0 87px;
    margin-bottom: 41px;
    text-align: left;
  }

  @media (min-width: $breakpoint-large) {
    padding-left: 80px;
    max-width: 540px;
  }
}

.promo__slogan {
  @include font(14px, 14px);
  margin: 0 0 29px 0;
  text-align: center;
  text-transform: uppercase;
  padding: 0 15px;

  @media (min-width: $breakpoint-medium) {
    @include font(20px, 20px);
    color: $color-black;
    text-align: left;
    padding: 0 10px 0 88px;
    margin-bottom: 49px;
  }

  @media (min-width: $breakpoint-large) {
    padding-left: 80px;
    max-width: 540px;
  }
}

.promo__img-wrapper {
  margin-bottom: 3px;

  img {
    @media (min-width: $breakpoint-medium) {
      width: 709px;
      height: 609px;
    }

    @media (min-width: $breakpoint-large) {
      width: 552px;
      height: 499px;
      top: 143px;
    }
  }
}

.promo__button {
  @include font(14px, 18px);

  @media (min-width: $breakpoint-medium) {
    @include font(20px, 20px);
    width: 244px;
    margin-left: 82px;
  }

  @media (min-width: $breakpoint-large) {
    margin-left: 80px;
  }
}
