.product-info {
  font-family: $font-arial;
  margin-bottom: 11px;

  @media (min-width: $breakpoint-medium) {
    margin-bottom: 0;
  }
}


.product-info__property {
  text-align: left;
  padding: 0;

  @media (min-width: $breakpoint-medium) {
    text-align: right;
  }

  @media (min-width: $breakpoint-large) {
    @include font(16px, 20px);
    padding-left: 14px;
    padding-top: 10px;
    text-align: left;
    width: 245px;
  }
}

.product-info__value {
  text-align: right;
  padding: 0;


  @media (min-width: $breakpoint-medium) {
    width: 89px;
    text-align: right;
  }

  @media (min-width: $breakpoint-large) {
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    flex-grow: 1;
  }
}
