.programs {
  margin-bottom: 27px;
}

.programs__list {
  @include clear-list;

  @media (min-width: $breakpoint-large) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 71px;
  }
}

.programs__item {
  margin-bottom: 20px;
  padding: 22px 20px;

  @media (min-width: $breakpoint-medium) {
    margin-bottom: 30px;
    position: relative;
    padding-top: 78px;
    padding-right: 278px;
    padding-left: 52px;
    padding-bottom: 57px;
  }

  @media (min-width: $breakpoint-large) {
    margin-bottom: 0;
    width: 570px;
    padding-right: 20px;
    padding-top: 42px;
    padding-bottom: 60px;
  }
}
