.promo {
  background: linear-gradient(to bottom, rgba($color-green, 0.85%) 302px, rgba($color-green, 0.85%) 302px, $color-white 37%, $color-white 37%),
    url("../../img/cat-promo-background.jpg");
  background-repeat: no-repeat;
  background-position: center, top center;
  background-size: 100%, contain;
  color: $color-white;
  margin-bottom: 22px;
}

.promo__img {
  display: block;
  margin: 0 auto;
}

.promo__title {
  @include font(36px, 36px);
  margin: 0;
  text-align: center;
  padding: 27px 15px 25px 16px;
}

.promo__slogan {
  @include font(14px, 14px);
  margin: 0 0 29px 0;
  text-align: center;
  text-transform: uppercase;
}

.promo__button {
  margin-top: 3px;
}
