.range-controls {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  padding-top: 4px;

  @media (min-width: $breakpoint-medium) {
    height: 0;
    border: none;
  }
}

.range-controls__scale {
  width: 84px;
  height: 14px;
  background-color: $color-white;
  box-sizing: border-box;
  border-radius: 6px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  border: 1px solid $color-very-light-gray;

  @media (min-width: $breakpoint-medium) {
    padding-left: 0;
    width: 428px;
    height: 6px;
    background-color: $color-very-light-gray;
    border-radius: 6px;
  }
}

.range-controls__bar {
  width: 35px;
  height: 6px;
  background-color: $color-green;
  border-radius: 6px;

  @media (min-width: $breakpoint-medium) {
    display: none;
  }
}

.range-controls__toggle {
  display: none;

  @media (min-width: $breakpoint-medium) {
    display: block;
    width: 8px;
    height: 8px;
    padding: 0;
    border: 13px solid $color-white;
    background-color: $color-green;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    box-sizing: content-box;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));

    &:hover {
      filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
    }

    &:active {
      box-shadow: 0 0 1px 1px $color-green;
    }
  }
}
