.site-list__item {
  text-align: center;
  padding: 22px 0 24px 0;
  border-bottom: 1px solid $color-whisper;

  &:first-child {
    border-top: 1px solid $color-whisper;

    @media (min-width: $breakpoint-medium) {
      border-top: none;
    }
  }

  @media (min-width: $breakpoint-medium) {
    border: none;
    margin-left: 35px;

    &--active {
      border-bottom: 1px solid $color-green;

      @media (min-width: $breakpoint-large) {
        border-bottom: 2px solid $color-white;
      }
    }
  }

  a {
    @include font(20px, 20px);

    text-transform: uppercase;
    color: $color-black;
    font-weight: 500;
    text-decoration: none;
    width: 100%;
    display: block;

    @media (min-width: $breakpoint-medium) {
      @include font(18px, 24px);
      font-weight: 400;
    }

    @media (min-width: $breakpoint-large) {
      @include font(20px, 30px);
    }
  }
}

.site-list__item--color-white {
  a {
    @media (min-width: $breakpoint-large) {
      color: $color-white;
    }
  }
}
