.slider__list {
  overflow: hidden;

  @media (min-width: $breakpoint-medium) {
    position: absolute;
    overflow: visible;
    max-width: 768px;
  }
}


.slider__item {
  &--before {
    @media (min-width: $breakpoint-medium) {
      height: 520px;
      width: 319px;
      overflow: hidden;
      position: absolute;
      bottom: 13px;
      transform: translate(36px, 0);
    }

    @media (min-width: $breakpoint-large) {
      transform: translate(90px, 0);
      width: 333px;
      bottom: 35px;
    }

    img {
      transform: translate(-20px, 0);
      overflow: hidden;
      min-width: 311px;
      min-height: 232px;
      margin-bottom: 28px;

      @media (min-width: $breakpoint-medium) {
        min-width: 677px;
        min-height: 520px;
      }

      @media (min-width: $breakpoint-large) {
        transform: translate(-32px, 0);
      }
    }
  }

  &--after {
    @media (min-width: $breakpoint-medium) {
      height: 520px;
      width: 292px;
      overflow: hidden;
      position: absolute;

      transform: translate(144px, 0);

      bottom: 13px;
      left: 211px;
    }

    @media (min-width: $breakpoint-large) {
      transform: translate(211px, 0);
      right: 234px;
      bottom: 35px;
    }

    img {
      display: none;

      @media (min-width: $breakpoint-medium) {
        display: block;
        min-width: 545px;
        min-height: 520px;
        transform: translate(-248px, 0);
      }

      @media (min-width: $breakpoint-large) {
        transform: translate(-272px, 0);
      }
    }
  }
}
