/* .slider__list {
  @media (min-width: $breakpoint-medium) {
    position: inherit;
  }

  @media (min-width: $breakpoint-large) {
    margin-bottom: 130px;
  }
}

.slider__item {
  min-width: 311px;
  min-height: 232px;
  overflow: hidden;
  position: relative;

  @media (min-width: $breakpoint-medium) {
    position: inherit;
  }

  img {
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-50%, -50%);
    display: block;
    margin: 0 auto;

    @media (min-width: $breakpoint-medium) {
      top: 89px;
      position: absolute;
      left: 50%;
    }

    @media (min-width: $breakpoint-large) {
      z-index: 2;
      top: 67px;
      left: 426px;
    }
  }

  &--before {
    position: absolute;

    @media (min-width: $breakpoint-medium) {
      img {
        width: 677px;
      }
    }
  }


  &--after {
    display: none;

    @media (min-width: $breakpoint-medium) {
      display: block;
      position: absolute;

      img {
        width: 545px;
      }
    }
  }
}

*/


.slider__item {
  &--before {
    @media (min-width: $breakpoint-medium) {
      height: 520px;
      width: 318px;
      overflow: hidden;
      position: absolute;
      top: -172px;
      transform: translate(36px, 0);
    }

    @media (min-width: $breakpoint-large) {
      top: -191px;
      transform: translate(90px, 0);
      width: 333px;
    }

    img {
      transform: translate(-20px, 0);
      overflow: hidden;
      min-width: 311px;
      min-height: 232px;
      margin-bottom: 28px;

      @media (min-width: $breakpoint-medium) {
        min-width: 677px;
        min-height: 520px;
      }

      @media (min-width: $breakpoint-large) {
        transform: translate(-32px, 0);
      }
    }
  }

  &--after {
    @media (min-width: $breakpoint-medium) {
      height: 520px;
      width: 292px;
      overflow: hidden;
      position: absolute;
      top: -172px;
      transform: translate(144px, 0);
      right: 235px;
    }

    @media (min-width: $breakpoint-large) {
      transform: translate(209px, 0);
      top: -192px;
      right: 234px;
    }

    img {
      display: none;

      @media (min-width: $breakpoint-medium) {
        display: block;
        min-width: 545px;
        min-height: 520px;
        transform: translate(-248px, 0);
      }

      @media (min-width: $breakpoint-large) {
        transform: translate(-272px, 0);
      }
    }
  }
}
