.social {
  padding-left: 53px;
  padding-right: 61px;
  padding-top: 5px;

  @media (min-width: $breakpoint-medium) {
    padding: 0;
    margin-left: 25px;
  }
}

.social__link {
  display: block;

  &:hover {
    path {
      fill: $color-green;
    }
  }

  &:active {
    path {
      opacity: 0.3;
    }
  }

  &--vk {
    @media (min-width: $breakpoint-medium) {
      svg {
        width: 30px;
        height: 22px;
      }
    }
  }

  &--inst {
    @media (min-width: $breakpoint-medium) {
      svg {
        width: 23px;
        height: 23px;
      }
    }
  }

  &--fb {
    &:hover {
      path {
        fill: none;
        stroke: $color-green;
      }
    }

    @media (min-width: $breakpoint-medium) {
      svg {
        width: 28px;
        height: 33px;
      }
    }
  }
}
