.wrapper {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $breakpoint-medium) {
    width: 708px;
  }

  @media (min-width: $breakpoint-large) {
    width: 1220px;
  }
}
