.container {
  margin: 0 auto;
  width: 280px;

  @media (min-width: $breakpoint-medium) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $breakpoint-large) {
    width: 1280px;
  }
}
