.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 320px;

  @media (min-width: $breakpoint-medium) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $breakpoint-large) {
    width: 1300px;
    padding: 0 40px;
  }
}
