// Colors

$color-green: #68b738;
$color-green-special: #4e9922;
$color-gray: #eaeaea;
$color-silver: #cdcdcd;
$color-light-gray: #f2f2f2;
$color-black: #000000;
$color-black-special: #111111;
$color-white: #ffffff;
$color-dark-gray: #444444;
$color-dark-gray2: #222222;
$color-special-gray: #d9d9d9;
$color-special-gray2: #ebebeb;
$color-whisper: #e6e6e6;
$color-platinum: #e7e7e7;
// Viewports

$breakpoint-small: 425px;
$breakpoint-small-catalog: 767px;
$breakpoint-medium: 768px;
$breakpoint-large: 1440px;

// Font-family

$font-oswald: "Oswald", "Arial", sans-serif;
$font-arial: "Arial", sans-serif;
