// Colors

$color-green: #68b738;
$color-gray: #eaeaea;
$color-light-gray: #f2f2f2;
$color-black: #000000;
$color-white: #ffffff;
$color-dark-gray: #444444;
$color-special-gray: #d9d9d9;

// Viewports

$breakpoint-small: 320px;
$breakpoint-medium: 768px;
$breakpoint-large: 1440px;

// Font-family

$font-oswald: "Oswald", "Arial", sans-serif;
$font-arial: "Arial", sans-serif;
